body {
    background: #e9eef1;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
}

.tableContainer {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

.tableRow {
    display: table-row;
}

nav {
    display: table-cell;
    vertical-align: top;
    width: 20%;
    padding: 15px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

section#main {
    display: table-cell;
    vertical-align: top;
    padding: 15px;
    width: 60%;
}

aside {
    display: table-cell;
    vertical-align: top;
    padding: 15px;
    width: 20%;
    text-align: left;
}

input#name {
    width: 67%;
}

aside textarea {
    width: 100%;
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: thin solid black;
    padding: 5px;
}

.dopusk {
    width: 64%;
    margin-left: 18%;
    margin-rught: 18%;
}

.tableContainerForm {
    display: table;
    width: 100%;
    border-spacing: 10px;
    margin: 0px;
}

.tableRowForm {
    display: table-row;
}

.tableRowForm p:first-child {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding: 3px;
    width: 50%;
}

.tableRowForm p {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding: 3px;
    width: 50%;
}

.toResult {
    background-color: white;
    border: thin solid black;
    color: black;
    width: 145px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header, h1, h2 {
    padding-down: 10px;
}

footer {
    padding-top: 10px;
}

a:link {
  color: orange;
  text-decoration: none;
}

a:visited {
  color: orange;
  text-decoration: none;
}

#results {
    font-weight: bold;
}
