<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link type="text/css" rel="stylesheet" href="static/index.css"/>
    </head>
    <body>
        <header><h1>{{ title }}</h1></header>

        {% if title == 'Допуски формы и расположения' %}
            <section id="description">
                <p>
                    Описание:<br>
                    Проект создан для упрощения расчета допусков формы и расположения.<br>
                    Для перехода к расчету нажмите на графический знак допуска
                </p>
            </section>
        {% endif %}

        <div class="tableContainer">
            <div class="tableRow">
                <nav>
                    <p>
                        Исходный код проекта на <a href="">GitHub:</a>
                    </p>
                    <ul>
                        <li><a href="link1">> console version</a></li>
                        <li><a href="link2">> pandas version</a></li>
                        <li><a href="link3">> sql version</a></li>
                    </ul>
                </nav>

            {% block body %}

            {% endblock %}

            <aside>
                <form method='POST' action='/comment'>
                    <p>
                        Оставить комментарий к проекту
                    </p>
                    <p>
                        Ваше имя: <input id="name" type="text" name="author" required>
                    </p>
                    <p>
                        Текст комментария: <textarea name="comment" placeholder="Введите текст комментария" required></textarea>
                    </p>
                    <p>
                        <input type="submit" value="Отправить">
                    </p>
                </form>
            </aside>
            </div>
        </div>

        {% if title != 'Допуски формы и расположения' %}
            <p>
                <a href="{{ url_for('enter_page') }}">На главную</a>
            </p>
        {% endif %}

        <footer>
            Тестовый вариант расчетной программы<br>
            &copy; 2020
        </footer>

    </body>
</html>
