{% extends 'base.html' %}
{% block body %}
    <section id="main">
        {% if table %}
            <table>
                <tr>
                    <th>Группа допусков</th>
                    <th>Вид допуска</th>
                    <th>Знак</th>
                </tr>

                {% for k, v in table.items() %}
                    {% for title_name in v %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ loop.length }}">{{ k }}</td>
                            {% endif %}

                            <td>{{ title_name }}</td>

                            <td><a href="{{ url_for('check_type', name=title_name, img=image[title_name])}}">
                                <img src="static/images/main/{{image[title_name]}}" /></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>

        {% else %}
            <h2>Извините, неполадки с таблицей</h2>
        {% endif %}
    </section>
{% endblock %}
